<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/style.css" />
    <title>Tuesday Music Board</title>
  </head>
  <body>
    <header class="header">
      <div>
        <h1>Tuesday Music Board</h1>
      </div>
    </header>
    <main class="logonDenied">
      <div>
        <h1>로그인 실패</h1>
        <h2>아이디와 암호를 확인해주세요</h2>
        <br />
        <br />
        <br />
        <a href="/board?cmd=Home">로그인 화면으로</a>
      </div>
    </main>
  </body>
</html>
