.genreList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.genreList > div:first-child {
  align-self: flex-end;
  margin: 0 5% 20px 0;
}
.genreList table {
  width: 90%;
  box-sizing: border-box;
}
.genreList th {
  background-color: black;
  color: white;
  font-size: 20px;
}
.genreList th,
.genreList td {
  padding: 10px;
  text-align: center;
}
.genreList tr:nth-child(odd) {
  background-color: lightgray;
}
.genreList a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 5px;
}
.genreList a:hover {
  background-color: black;
  color: white;
}
